{% extends 'base.html' %}

{% block content %} 
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in movies %}
    <div v-for="movie in movies" class="col">
      <div class="card" style="width: 18rem;">
              <img src="{{ movie.image.url }}" class="card-img-top" alt="{{ movie.title }}">
              <div class="card-body">
                  <a href="{% url 'movie:detail' movie.pk %}"><h5 class="card-title">{{ movie.title }}</h5></a>
                  <p class="card-text">{{ movie.description|truncatewords:"10" }}.</p>

                  {% if movie.url %}
                      <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
                  {% endif %}
              
              </div>
      </div>
    </div>
    {% endfor %}
  </div>  
{% endblock content %}


